<%-include("partial/header.ejs");-%>
<div class="box container" id="heading">
  <h1><%=day%></h1>
</div>
<div class="box container">
  <%items.forEach(function(item){%>
  <form  action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%=item._id %>" onChange="this.form.submit()">
      <p><%=item.name%></p>
    </div>
  </form>

  <%})%>
  <form class="form-inline" action="/" method="post">
    <input class="form-control mr-sm-2" type="text" name="newItem" placeholder="New Item" value="" autocomplete="off">
    <button type="submit" name="button">+</button>
  </form>
</div>
<footer><strong>&copy; Raunak</strong></footer>

<%-include("partial/footer.ejs");-%>
